.main-image2 {
  background-image: url(https://framerusercontent.com/images/r6VzCK7D8hLORfRba9MEA6bYEE.jpg?width=1920&height=1080);
  height: 110vh;
  width: 100%;
  background-position: center;
  margin-top: 120px;
  background-size: cover;
}